.leftUnmovedMenu {
	float: left;
	top: 10px;
	width: 200px;
	background-color: #f7f7f7 !important;
}

.content {
	font-size: 100px;
	background-color: #a9a9a9;
}

.mainContent {
	margin-left: 200px;
}

.grayBackground {
	background-color: gray;
}

.bigText {
	font-size: 45px;
}

body {
	background-image: url(img/background.jpg);
	cursor: url(img/cursorCat.png), auto  !important;
}
* {
	max-width: 1600px;
	margin: 0 auto;
}