.leftUnmovedMenu {
	float: left;
	top: 0px;
	width: 200px;
	background-color: #f7f7f7 !important;
}
.contentLink {
	font-size: 25px;
}

#headerImage {
	border-bottom: 2px solid BLACK;
}

textarea {
    resize: none;
}

#addYourBreed {
	font-size: 10px !important;
}

.error {
	border-color: red;
}

.spoiler >  input + #addYourBreed {
	display: none;
}
.spoiler >  input:checked + #addYourBreed {
	display: block;
}

.spoilerDel >  input + #deleteBreed {
	display: none;
}
.spoilerDel >  input:checked + #deleteBreed {
	display: block;
}

.content {
	font-size: 100px;
	background-color: #fff;
	max-width: 1200px;
	min-height: 307px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 5px 5px 5px 0px;
}

.contentImage  {
    float:left;
    margin: 7px 7px 7px 0;
	display: block;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}

.catName {
	font-size: 50px;
}

.catDescription {
	font-size: 15px;
}

.mainContent {
	margin-left: 200px;
}

.bigText {
	font-size: 45px;
	background-color: #fff;
}

body {
	font-family: Ubuntu, sans-serif;
	background-image: url(img/bg_body.gif);
	cursor: url(img/cursorCat.png), auto  !important;
}

* {
	max-width: 1600px;
	margin: 0 auto;
}

@media (max-width: 768px) { /*tablet and small screen */
	.noDisplayOnSmallScreen {
		display: none;
	}
	.mainContent {
		margin-left: 10px;
		margin-right: 10px;
	}
	.content {
		font-size: 50px;
	}
	.bigText {
		font-size: 30px;
	}
}

@media (max-width: 425px) { /* Mobile L - 425px */
	#headerImage {
		display: none;
	}
	.bigText {
		font-size: 20px;
	}
}

@media (max-width: 375px) { /* Mobile M and smaller - 375px */
	.contentImage {
		display: none;
	}
}

#navbar ul{
	display: none;
	background-color: #f90;
	position: absolute;
	top: 100%;
}

#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navbar {
	float: left;
	background-color: #666;
	padding-left: 5px;
	width: 200px;
}
#navbar li {
	float: left;
	position: relative;
}
#navbar li a {
	display: block;
	padding: 6px;
	width: 180px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }