<html>
	<head>
		<title>Сайт для любителей кошек</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/recources/style_site.css">
		<script src="/recources/staticMenu.js"></script>
	</head>
	<body>
		<!-- header block -->
		<header>
			<img id="headerImage" src="/recources/img/header.jpg"  width="100%">
		</header>
		
		<!-- menu block -->
		<div class="leftUnmovedMenu noDisplayOnSmallScreen" id="leftToolbar">
			<menu >
				<li><a href="/home" >Главная страница </a></li>
				<% data.forEach(function(datum) {%>
					<li>
						<a href="/<%= datum.en_name %>"><%= datum.name %></a>
					</li>
				<% }); %>
			</menu>
		</div>
		
		<!-- content block -->
		<div class="mainContent">
			<span class="bigText grayBackground"> На этой странице вы познакомитесь с породой кошек - Мей-кун.</span>
			<!-- TBD -->
		</div>
	</body>
</html>